

{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>{{ form.RecruitRequestType.label }}</label>{{ form.RecruitRequestType }}
                <label>{{ form.RecruitRequestComment.label  }}</label>{{ form.RecruitRequestComment }}
                <label>{{ form.JobName.label }}</label>{{ form.JobName}}
                <label>{{form.RequestDep.label}}</label>{{form.RequestDep}}
            </div>

            <div class="form-group col-md-2">
                <label>{{ form.CandidatesName.label }}</label>{{ form.CandidatesName }}
                <label>{{ form.PhoneNumber.label }}</label>{{ form.PhoneNumber }}
                <label>{{ form.CandidatesMail.label }}</label> {{ form.CandidatesMail }}
            </div>
            <div class="form-group col-md-2">
                <label>{{ form.InterviewTime.label }}</label>{{ form.InterviewTime|default:"2099-12-31 00:00:000"}}
            </div>

            <div class="form-group col-md-2">
                <input class="btn btn-success" style="margin-top: 20px;" type="submit" value="儲存" />
            </div>
        </div>
    </form>

<table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th><th>驗證碼</th>
                <th>姓名</th>
                <th>應徵職務</th>
                <th>預計面試日</th>
                <th>狀態</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for rrall in rrall %}
                <tr>
                    <td>{{ rrall.ID }}</td>
                    <td>{{ rrall.VerificationCode }}</td>
                    <td>{{ rrall.CandidatesName }}</td>
                    <td>{{ rrall.JobName }}</td>
                    <td>{{ rrall.InterviewTime }}</td>
                    <td>{{ rrall.get_RecruitStatus_display }}</td>
                    <td>
                        <a href="{% url 'rec:rrupdate' rrall.ID %}" class="btn btn-info">修改</a>
                        <a href="#" class="btn btn-danger">刪除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}

<script>

      $( function()
      {
        $( "#id_InterviewTime" ).datepicker();
        $( "#datepicker" ).datepicker();
      } );
</script>