{% extends 'base.html' %}
{% block content %}

<body>
  <h1>Add a new Ext</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        {{ext_formset.management_form}}
        {% for form in ext_formset %}
        <div class="ext-form">
            {{form.as_table}}
        </div>
        {% endfor %}
        <button id="add-form" type="button">Add Another Ext.</button>
        <button type="submit">Create Ext</button>
    </form>

    <script>
        let extForm = document.querySelectorAll(".ext-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = extForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = extForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
    </body>
</html>
{% endblock %}